html{

  background-color: #c9b5ab;
  line-hight:1.5;
}

h1, h2{
  color: #3f1622;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-hight:1.5;
}

nav ol{
  color: #8f2440;
}

img{
  width: 100%;
}

figcaption{
  font-style: italic;
}
